# Decision Tree

#### Team members :
* Amirmahdi Abootalebi
* Ali Sheikh Atari
* Amir Rahimi

Import the Following Libraries:

<ul>
    <li> <b>numpy (as np)</b> </li>
    <li> <b>pandas</b> </li>
    <li> <b>matplotlib</b></li>
</ul>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<h3 style="color: red;"> Hint : </h3>

* At the first this data set has .data format then we change it to csv file

* Then we insert a attribute name row in line one

Now, read the data set with using pandas

In [2]:
df = pd.read_csv("car.csv")

printing a some row of our data set

In [3]:
df.head()

  buying  maint doors persons lug_boot safety target
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

## Data exploration

Let's first have a descriptive exploration on our data.

In [40]:
df.describe()

       buying  maint doors persons lug_boot safety target
count    1728   1728  1728    1728     1728   1728   1728
unique      4      4     4       3        3      3      4
top     vhigh  vhigh     2       2    small    low  unacc
freq      432    432   432     576      576    576   1210

## Data Size

In [4]:
df.shape

(1728, 7)

Using <b>df</b> as the car.csv data read by pandas, declare the following variables: <br>

<ul>
    <li> <b> X </b> as the <b> Feature Matrix </b> (data of df) </li>
    <li> <b> Y </b> as the <b> response vector </b> (target) </li>
</ul>

In [6]:
X = df[["buying", "maint", "doors", "persons", "lug_boot","safety"]].values
X[:5]

array([['vhigh', 'vhigh', '2', '2', 'small', 'low'],
       ['vhigh', 'vhigh', '2', '2', 'small', 'med'],
       ['vhigh', 'vhigh', '2', '2', 'small', 'high'],
       ['vhigh', 'vhigh', '2', '2', 'med', 'low'],
       ['vhigh', 'vhigh', '2', '2', 'med', 'med']], dtype=object)

All features in this dataset are categorical. Unfortunately, Sklearn Decision Trees does not handle categorical variables. We can still convert these features to numerical values using LabelEncoder() function in preprocessing librery of the sklearn
for example in label_buying we fit four value ['vhigh', "high", "med", "low"] to [3, 2, 1, 0] it means when we have a vhigh in some row it convert to 3 ...

In [7]:
from sklearn import preprocessing

label_buying = preprocessing.LabelEncoder()
label_buying.fit(['vhigh', "high", "med", "low"])
X[:,0] = label_buying.transform(X[:,0])
X[:,1] = label_buying.transform(X[:,1])

label_doors = preprocessing.LabelEncoder()
label_doors.fit(['2','3','4','5more'])
X[:,2] = label_doors.transform(X[:,2])

label_persons = preprocessing.LabelEncoder()
label_persons.fit(['2','4','more'])
X[:,3] = label_persons.transform(X[:,3])

label_lug_boot = preprocessing.LabelEncoder()
label_lug_boot.fit(["small", "med", "big"])
X[:,4] = label_lug_boot.transform(X[:,4])

label_safety = preprocessing.LabelEncoder()
label_safety.fit(["low","med","high"])
X[:,5] = label_safety.transform(X[:,5])

X[:]

array([[3, 3, 0, 0, 2, 1],
       [3, 3, 0, 0, 2, 2],
       [3, 3, 0, 0, 2, 0],
       ...,
       [1, 1, 3, 2, 0, 1],
       [1, 1, 3, 2, 0, 2],
       [1, 1, 3, 2, 0, 0]], dtype=object)

Now we can fill the target variable

In [8]:
Y = df["target"]
Y.value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: target, dtype: int64

<hr>

<div id="setting_up_tree">
    <h2>Setting up the Decision Tree</h2>
    We will be using <b>train/test split</b> on our <b>decision tree</b>. Let's import <b>train_test_split</b> from <b>sklearn.cross_validation</b>.
</div>

Now <b> train_test_split </b> will return 4 different parameters. We will name them:<br>
train_x, test_x, train_y, test_y <br> <br>
The <b> train_test_split </b> will need the parameters: <br>
X, Y, test_size=0.2, and random_state=3. <br> <br>
The <b>X</b> and <b>y</b> are the arrays required before the split, the <b>test_size</b> represents the ratio of the testing dataset, and the <b>random_state</b> ensures that we obtain the same splits.

In [9]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(X, Y, test_size = 0.2, random_state=3)

<hr>

<div id="modeling">
    <h2>Modeling</h2>
    We will first create an instance of the <b>DecisionTreeClassifier</b> called <b>Tree</b>.<br>
    Inside of the classifier, specify <i> criterion="entropy" </i> so we can see the information gain of each node.
</div>

In [10]:
from sklearn.tree import DecisionTreeClassifier
Tree = DecisionTreeClassifier(criterion="entropy", max_depth=5)

Next, we will fit the data with the training feature matrix <b> train_x </b> and training  response vector <b> train_y </b>

In [12]:
Tree.fit(train_x, train_y)

DecisionTreeClassifier(criterion='entropy', max_depth=5)

<hr>

<div id="prediction">
    <h2>Prediction</h2>
    Let's make some <b>predictions</b> on the testing dataset and store it into a variable called <b>predict_model</b>.
</div>

In [13]:
predict_model = Tree.predict(test_x)

You can print out <b>predict_model</b> and <b>test_y</b> if you want to visually compare the predictions to the actual values.

In [14]:
print(predict_model[:5])
print(test_y[:5])

['acc' 'unacc' 'unacc' 'acc' 'vgood']
350       acc
112     unacc
1011    unacc
715       acc
1280     good
Name: target, dtype: object

<hr>

<div id="evaluation">
    <h2>Evaluation</h2>
    Next, let's import <b>metrics</b> from sklearn and check the accuracy of our model.
</div>

In [15]:
from sklearn.metrics import accuracy_score
first_depth_accuracy = accuracy_score(test_y, predict_model)
print(first_depth_accuracy)

0.8757225433526011

## cross validation with KFold

importing cross_val_score from sklearn.model_selection and looping on 25 number for finding the best depth for this model

In [16]:
from sklearn.model_selection import cross_val_score

<p> <a href="https://towardsdatascience.com/how-to-find-decision-tree-depth-via-cross-validation-2bf143f0f3d6">this site</a> help us to cross validating with Kfold algorithm </p>

In [17]:
def crossValidation_KFold(X, Y, cv=5, scoring='accuracy'):
    List, std, mean, accuracy = [], [], [], []
    
    for depth in range(1,25):
        tree_model = DecisionTreeClassifier(max_depth=depth)
        cross_val = cross_val_score(tree_model, X, Y, cv=cv, scoring=scoring)
        List.append(cross_val)
        mean.append(cross_val.mean())
        std.append(cross_val.std())
        accuracy.append(tree_model.fit(X, Y).score(X, Y))
        
    mean = np.array(mean)
    std = np.array(std)
    accuracy = np.array(accuracy)
    
    return mean, std, accuracy

In [18]:
kfold_mean, kfold_std, kfold_accuracy = crossValidation_KFold(train_x, train_y)
depth = range(1,25)
idx_max = kfold_mean.argmax()
best_depth = depth[idx_max]
best_std_score = kfold_std[idx_max]
best_mean_score = kfold_mean[idx_max]

In [19]:
print("The best depth is : ",best_depth)
print("With this mean score : ", best_mean_score)

The best depth is :  14
With this mean score :  0.9688824360382986

# comparing first and best depth

In [20]:
print("The first depth is : 5 ", "with : ", first_depth_accuracy, " accuracy")
print("The optimal depth is : " , best_depth, " with : ", best_mean_score, " accuracy")

The first depth is : 5  with :  0.8757225433526011  accuracy
The optimal depth is :  14  with :  0.9688824360382986  accuracy